

<!DOCTYPE html>

<-----!Mogelly---USA----Bankrupt----->

		<------!3----->

			<------!?/?/?----->

				<----!Not White Skin----WhiteWash----->


		<html>
			

			<title>


				SETTT

			</title>


				<head>
					

					Stack / Update Reports and Appearatice [/////////////////Riddle //////////]

				</head>


					<body>


						<header>

							<h1> title </h1>

								<a href = "">01 </a>

								<a href = "">02 </a>
								
								<a href = "">03 </a>

								<a href = "">04 </a>

								<a href = "">05 </a>

				<hr>

						</header>


								<main>


							
									012345

								

								</main>



						<h1> Osiris / Not Egypt / Cut it short = NOt BLACK = ?//??///???//????//////////////////// </h1>

							</br>

								<h4> Class / Ranks / //////////////Section / /////////Black Budget ///////</4h>

							<hr>


								<a href = "" target = "Case" title = "Future Plans Of War Machine - budgets" >

									Image Files [Paint a picture //////////////]

								</a>

								</br><br>

								<a href = "">
								<img src = ""
								height = ""
								alt = "unit/logo/casenu./leafs///////"
										>
								</a>

									<p> Sentance 01</p>
			
										<pre> Cut it Short - paragraphs discriptions </pre>
							
										<span> Title Subject layer 01 </span>

										<div> Sub title layer 02 </div>

										<span> subject in layer 01 </span>

										<div> sub in layer 02 topic and cover </div>

									</br>

											<!---- extra code lines = start from scratch ----->
												
												<a href = "" target = "blank" title = "subject">

												FILES = State ////////////////////////// unknown ////////////// = HIDE = K

												</a>

													<a href = "" target = "class" title = "wealth">
	
														////////////////////////that how you say it there ///////

													</a>

													
														<a href = "" target = "Interigation" title = "amount/no reperations">


													</a>

														<br><br>

															<a href = "">
															
															<img src = ""
															alt = "name/?///Layer 01/"		
															height = ""
															
																	>
															</a>

														<br><br>


															<img src = ""
															alt = "name/?///Layer 02/"		
															height = ""
															
																	>
	

																</br>
																	
																	<h3> subject / title</h3>

	</br>

		<ul>
			<li> topic  </li>

			<li> subject  </li>

			<li> topic </li>

			<ul>

				<li>  su - subject </li>

				<li> walkie talkie </li>

			</ul>

		</ul>

			<ol>
				
				<li> contacts  </li>

			</ol>

				<dl>

					<dt> Discriptions / the ? </dt>
						<dd> the store </dd>

				</dl>

																</br></br>

																		<p> <b> 01 </b> </p>

																		<audio controls>

																			<source src = "" type = "">																	
	
																		</audio>

																</br></br>

																</br></br>

																		<p> <i> 02 </i> </p>

																		<audio controls>

																			<source src = "" type = "">																	
	
																		</audio>

																</br></br>

																</br></br>

			<!----ul---->															<p> <u> 03 </u> </p>

																		<audio controls>

																			<source src = "" type = "">																	
	
																		</audio>

																</br></br>

																		<p> 01 </p>

																		<video src = "" width = " px" controls> 

																			<source src = "" type = "">

			</video>

			<br><br>


				<table border = ""; style = "">
					<tr align = ""; style = "">

						<th width = "">01</th>
						<th width = "">02</th>
						<th width = "">03</th>
						<th width = "">04</th>
						<th width = "">05</th>
						<th width = "">06</th>

					</tr>

					<tr>
						
						<td width = "">01</td>
						<td width = "">02</td>
						<td width = "">03</td>
						<td width = "">04</td>
						<td width = "">05</td>
						<td width = ""> </td>

					</tr>

				</table>


				<br><br>
																	
					<button style = ""; background-color = ""; border = ""> Click Button </button>


						<!-----script function or link function---->

							<!----a href = ""------->

								<!----/a----->

							<!----script----->
	
								<!----function (){ ----->
						
									<!------ document.getElementById("") ------>

							<!----	} ------>
			

							<!------/script----->


							<br><br>

								<form action = "" meth ord = "">

									<label = "" > username: </label>

									<input type = "text"; id = "username"; placeholder= "username" ; minlength = ""; required> </input>
							<br><br>

									<label = "" > password: </label>

									<input type = "password"> </input>
							<br><br>

									<label = "" > email: </label>

									<input type = "email"> </input>
							<br><br>

									<label = "" > phone: </label>

									<input type = "phone"; pattern = " [00] - [000] - [000] - [00]"> </input>
							<br><br>

									<label = "" > birth: </label>

									<input type = "date"> </input>
							<br><br>

									<label = "" > quantity: </label>

									<input type = "number"; id = ""; min = 0; max = "99"; value = "01"> </input>
							<br><br>

									<label = ""> Title: Gen </label>

										<label = ""> 01:MR </label>
											<input type = "radio"; id = ""; value = ""; name = "">
										<label = ""> 02:MS </label>
											<input type = "radio"; id = ""; value = ""; name = "">

										<label = ""> 03:DR </label>
											<input type = "radio"; id = ""; value = ""; name = "">


									


							<br><br>

									<label = "" > payment: </label>

									<select type = "text"; id = ""> 

										<option value = "visa"> VISA </option>
										<option value = "matercard"> MasterCard</option>
										<option value = "giftcard"> GiftCard</option>
										
										<option value = ""> 01 </option>
										<option value = ""> 02 </option>
										<option value = ""> 03 </option>

									</select>

							<br><br>
									<label for? = "subscription">
									
										subscription {}

									</label>

										<input type = "checkbox" id = "subscibe">
							<br><br>

									<label = "" > Comment: </label>

									<textarea type = ""; rows = ""; cols = "";> </textarea>


							<br><br>

									<label = "" > FILE : </label>

									<input type = "file"> </input>

							<br><br>

									<label = "" > SAVE : </label>

									<input type = "file"> </input>





							<br><br>
									<input type = "submit">
									
									<input type = "reset">





								</form>


					<br><br>

							<p>javacript - code secttion</p>

					<br><br>


							


					</body>



			<footer>

				links

			</footer>



		</html>